* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: -webkit-linear-gradient(220deg, /*#7e82bd*/ #0c0c52 62%, #78a6de 62%); 
    background-size: cover;
    font-family: lato, sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: auto;
    overflow: hidden;
}

h1 {
    font-size: 92px;
    font-family: "playfair display", serif;
    font-weight: 400;
    font-style: italic;
    margin-top: 0;
    padding-top: 0px;
    text-align: center;
}

#lastName {
    font-size: 84px;
    font-family: playfair-display, serif;
    font-weight: 400;
    font-style: italic;
    text-indent: 175px;
    text-align: center;
}

#lastName, h1 {
    height: 100px;
    width: 400px;
    position: relative;
    top: 200px;
    left: 500px;
    cursor: pointer;
    color: #9e9e9b;
}

#lastName:hover, h1:hover {
    color: #fff;
    text-shadow: 0 0 10px #fff,
                 0 0 20px #fff,
                 0 0 40px #fff,
                 0 0 80px #fff;
}
a {
    position: absolute;
    text-align: center;
    left: 10%;
    top: 8%;
}

#chinchilla {
    max-width: 375px;
    max-height: 375px;
    position: absolute;
    top: 250px;
    left: 100px;
    animation-name: out;
    animation-duration: 1.5s;
    animation-direction: reverse;
    animation-timing-function: linear;
}

#wolf {
    max-width: 325px;
    max-height: 325px;
    position: absolute;
    top: 100px;
    right: 100px;
    animation-name: out;
    animation-duration: 1.5s;
}
#wolf:hover {
    animation: rotation 1s linear;
    animation-fill-mode: forwards;
}

#chinchilla:hover {
    animation: rotation 1s reverse linear;
    animation-fill-mode: forwards;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(0.1deg);
    }
  }

@keyframes out {
    from {
      transform: rotate(1deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

p.aboutSection {
    width: 40%;
    text-align: center;
    padding: 1em;
    font-size: 17px;
}

.aboutSection {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(5%,125%);
}

h2{
    position: absolute;
    top: 80px;
    right: 330px;
    font-size: 36px;
}

#me {
    position: absolute;
    max-width: 450px;
    max-height: 450px;
    top: 175px;
    left: 125px;
    animation: grow 1.5s ease-in-out;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-direction: alternate;
}

@keyframes grow {
    to{
    transform: scale(1.2);
    }
}