* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: -webkit-linear-gradient(220deg, #7e82bd 62%, #78a6de 62%); 
    font-family: lato, sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: auto;
}

h1 {
    font-size: 92px;
    font-family: "playfair display", serif;
    font-weight: 400;
    font-style: italic;
    margin-top: 0;
    padding-top: 0px;
    text-align: center;
}

#lastName {
    font-size: 84px;
    font-family: playfair-display, serif;
    font-weight: 400;
    font-style: italic;
    text-indent: 175px;
    text-align: center;
}

#lastName, h1 {
    height: 100px;
    width: 400px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-60%,200%);
    cursor: pointer;
}

#lastName:hover, h1:hover {
    color: #fff;
    text-shadow: 0 0 10px #fff,
                 0 0 20px #fff,
                 0 0 40px #fff,
                 0 0 80px #fff;
}
a {
    position: absolute;
    text-align: center;
    left: 10%;
    top: 8%;
}

#chinchilla {
    max-width: 350px;
    max-height: 350px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-270%, 20%);
}

#wolf {
    max-width: 325px;
    max-height: 325px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(80%,-40%);
}

/* img:hover {
    background: #fff;
} */

p.aboutSection {
    width: 40%;
    text-align: center;
    padding: 1em;
    font-size: 17px;
}

.aboutSection {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(5%,125%);
}

h2{
    position: absolute;
    top: 80px;
    right: 330px;
    font-size: 36px;
}